<!DOCTYPE html>
<html>
  <head>
    <title>Dynamic Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/stylesheets/monitor.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      <!-- 
      
      var updateLink = "/district/query_district/?district=";
      
      //-->
    </script>
    <script type="text/javascript" src="/javascripts/maps/balaka.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/blantyre.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/chikhwawa.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/chiradzulu.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/chitipa.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/dedza.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/dowa.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/karonga.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/kasungu.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/likoma.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/lilongwe.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/machinga.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mangochi.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mchinji.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mulanje.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mwanza.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mzimba.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/nkhatabay.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/nkhotakota.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/north.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/nsanje.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/ntcheu.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/ntchisi.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/phalombe.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/rumphi.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/salima.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/south.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/thyolo.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/zomba.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/centre.js" ></script>
    <script type="text/javascript" src="/javascripts/maps/mw.js" ></script>
    <script type="text/javascript" src="/javascripts/utils.js" defer></script>
  </head>
  <body>
  <center>
    <div id="slide" class="slide">           
    </div>
  </center>
</body>
</html>
